<table class="table table-striped">
  <h1>会社情報</h1>
  <tr>
   <th>会社</th>
   <th>住所</th>
   <th>電話番号</th>
  </tr>
<% @data_list.each do |data| %>
 <tr>
  <td><%= data[0] %></td>
  <td><%= data[1] %></td>
  <td><%= data[2] %></td>
 </tr>
<% end %>
</table>

